.video-title{
    font-weight: 600;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 5px;
}
.video-author{
    font-size: 14px;
    color: #606060;
    margin: 0;
}
.video-stats{
    font-size: 14px;
    color: #606060;
    margin: 0;
}
.container{
    display: flex;
    gap: 20px;
}
.container1{
    display: flex;
    gap: 20px;
}
.container2{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px , 1fr));
    gap: 13px;
}
.imge{
    width: 300px;
}
.shorts-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(160px, 1fr));
    gap: 8px;
}
.short{
    min-width: 180px;
    height: auto;
    box-sizing: border-box;
}
.short img{
    width: 100px;
    max-height: 300px;
    border-radius: 10px;
    object-fit: contain;
    background: black;
}
.short-title{
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
}
